[Desktop Entry]
Type=Application
Name=Alacritty (tmux)
Exec=alacritty -e tmux new -A -s zsh
Icon=Alacritty
Comment=A fast, cross-platform, OpenGL terminal emulator
Terminal=false
Categories=System;TerminalEmulator;
